@using MobileMvcSamples.Controllers
@{
    ViewBag.Title = "Mobile ASP.NET MVC";
}
    
@helper Status(HomeController.ChapterStatus status)
{
  switch (status)
  {
    case HomeController.ChapterStatus.NotStarted:
      <div class="status not-started">Status: Not started!</div>
      break;
    case HomeController.ChapterStatus.Finished:
      <div class="status finished">Status: Finished!</div>
      break;
    case HomeController.ChapterStatus.InEditing:
      <div class="status editing">Status: In Editing</div>
      break;
    case HomeController.ChapterStatus.InProgress:
      <div class="status in-progress">Status: In Progress</div>
      break;
  }
}

<style>
  .status {
    display: inline-block;
    font-family: monospace;
    font-weight: bold;
    border: solid 1px #ccc;
    padding: 5px 10px;
  }

  .not-started {
    background-color: #ff8a8a;
  }

  .finished {
    background-color: #58c12e;
  }

  .editing {
    background-color: #32a8fe;
  }

  .in-progress {
    background-color: #ffee8f;
  }

  body {
    background-color: #777;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
  }

  .container {
    box-shadow: 4px 0 30px #000;
    background-color: #FFF;
    max-width: 930px;
    margin: 0 auto;
    outline: solid 1px #333;
    padding: 0 15px 15px 15px;
  }

  h1 {
    margin-top: 0;
    padding-top: 20px;
  }

  li {
    margin: 10px 0;
  }

  ol ol li {
    list-style-type: lower-roman;
  }

  ol ol ol li {
    list-style-type: lower-alpha;
  }

  p, li, h4 {
    font-family: Georgia, serif;
  }

  p {
    line-height: 1.4em;
    margin: 0 0 1em 0;
  }

  h1, h2, h3 {
    font-family: Helvetica, Verdana, sans-serif;
  }

  h3 {
    margin: 40px 0 5px 0;
  }

  .callout {
    border: solid 1px #ffd800;
    background-color: #ffee93;
    padding: 15px;
  }

</style>

<div class="container">

  <h1>Mobile ASP.NET MVC</h1>
  <h2>by Eric B. Sowell</h2>

  <img src="/content/book-cover.png" />

  <p>Welcome! This is online home for my book, <i>Mobile ASP.NET MVC</i>, which will be published
    by Apress in Fall of 2013. I&rsquo;ll keep this page up-to-date so you can know my progress and I
    would appreciate any feedback that you have. You can email me at 
    <a href="mailto:eric.sowell@gmail.com">eric.sowell@gmail.com</a>, hit me up on twitter 
    <a href="http://twitter.com/mallioch">@@mallioch</a> or find me
      at my website, <a href="http://ericsowell.com">http://ericsowell.com.</a>
  </p>

  <p class="callout">If you haven&rsquo;t bought the book (why not?), you can buy it 
    <a href="http://www.apress.com/9781430250562">on the Apress website</a> (you can get the alpha
    version now) or <a href="http://www.amazon.com/gp/product/1430250569/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=1430250569&linkCode=as2&tag=thecodhum-20">pre-order it on Amazon</a>.</p>

  <p>This site is primarily for all of my samples in the book that are
    meant to be tested in the browser. Not every chapter has these, so to get all of the samples,
    including these, <a href="https://github.com/Mallioch/MobileMvcSamples">you can get the source 
    code from the Github repository here</a>. Note that <em>some of these samples are not finished</em>,
    though they will all be finished by the time I have written the rough draft of all the chapters.
  </p>

  <p>Note that most of the sub-pages have no styling. This is on purpose since most of the pages are
    meant to be bare examples.
  </p>

  <h2>Chapters</h2>

  <h3>Chapter 1: The Basics of Responsive Web Design</h3>

  @Status(HomeController.ChapterStatus.Finished)

  <p>In this chapter I discuss the basics of Responsive Web Design, which I think is the right place
    to start when starting a new mobile website these days. This chapter is the overview, chapters
    three through five are the deep dive into the approach.
  </p>

  <h4>Samples</h4>
  <ol>
    <li><a href="/responsivebasics/index">Sample responsive site</a></li>
    <li><a href="/responsivebasics/viewportsample">Viewport sample</a></li>
    <li><a href="/responsivebasics/portraitandlandscapeexperiment">Portrait and landscape experiment</a></li>
    <li><a href="/responsivebasics/resolutionmediaquery">Resolution media query</a></li>
  </ol>

  <h3>Chapter 2: CSS Layout Bootcamp</h3>

  @Status(HomeController.ChapterStatus.Finished)

  <p>Chapter 2 is for all those developers who find layout in CSS hard unless they use tables. It's
    not so bad, once you know the rules.
  </p>

  <h4>Samples</h4>
  <ol>
    <li><a href="/csslayoutbootcamp/withoutareset">Page without a reset.</a></li>
    <li><a href="/csslayoutbootcamp/withareset">Page with a reset.</a></li>
    <li><a href="/csslayoutbootcamp/pagewithasidebar">Page with a sidebar</a></li>
    <li><a href="/csslayoutbootcamp/pagewithasidebarwithpadding">Page with a sidebar with padding</a></li>
    <li><a href="/csslayoutbootcamp/pagewithasidebarwithgoodpadding">Page with a sidebar with good padding</a></li>
    <li><a href="/csslayoutbootcamp/pagewithasidebarwithfauxcolumns">Page with a sidebar with faux columns</a></li>
  </ol>


  <h3>Chapter 3: Flexible Layouts</h3>

  @Status(HomeController.ChapterStatus.InEditing)

  <p>Now that chapter 2 has equipped you to create layouts in CSS, this chapter shows you how to make
    layouts that flex and reshape based on context.
  </p>

  <h4>Samples</h4>
  <ol>
    <li><a href="/flexiblelayouts/threecolumnlayoutnomargin">Flexible 3-column layout with no margin (figure 1)</a></li>
    <li><a href="/flexiblelayouts/threecolumnlayoutwithsomemargin">Flexible 3-column with some margin (figure 2)</a></li>
    <li><a href="/flexiblelayouts/threecolumnresponsive">3-column responsive (figure 3)</a></li>
    <li><a href="/flexiblelayouts/threecolumnresponsivewithbordersbroken">3-column responsive with broken borders (figure 4)</a></li>
    <li><a href="/flexiblelayouts/threecolumnresponsivewithborders">3-column responsive with borders (figure 5)</a></li>
    <li><a href="/flexiblelayouts/twocolumnresponsive">2-column responsive</a></li>
    <li><a href="/flexiblelayouts/tencolumnresponsive">10-column responsive using borders</a></li>
  </ol>

  <h3>Chapter 4: Flexible Navigation</h3>

  @Status(HomeController.ChapterStatus.InEditing)

  <p>Flexible navigation is a special case of flexible layouts but is an important one. We go through
    a number of ways of solving layout problems in responsive scenarios.
  </p>

  <h4>Samples</h4>
  <ol>
    <li><a href="/flexiblenavigation/navmovedtobottom">Nav moved to bottom</a></li>
    <li><a href="/flexiblenavigation/navmovedtobottomnorepeatedmenu">Nav moved to bottom #2</a></li>
    <li><a href="/flexiblenavigation/navtoselect">Nav to select</a></li>
    <li><a href="/flexiblenavigation/accordiannav">Accordian Nav</a></li>
    <li><a href="/flexiblenavigation/flyoutnav">Flyout Nav</a></li>
  </ol>

  <h3>Chapter 5: Flexible Content</h3>

  @Status(HomeController.ChapterStatus.InEditing)

  <p>Flexible layouts are useless if your content can&rsquo;t adapt. After all, our websites exist
    to show our content. So here we discuss having flexible text, images, tables and video.
  </p>

  <h4>Samples</h4>
  <ol>
    <li>Flexible text
      <ol>
        <li><a href="/flexiblecontent/defaulttextsize">Default text size</a></li>
        <li><a href="/flexiblecontent/longrunningtextwithnochanges">Long running text with no changes</a></li>
        <li><a href="/flexiblecontent/compoundingems">Compounding ems</a></li>
        <li><a href="/flexiblecontent/text">Flexible text with media queries</a></li>
        <li><a href="/flexiblecontent/textleveragingbody">Flexible text - leveraging body size</a></li>
        <li><a href="/flexiblecontent/textleveragingrem">Flexible text - using rem</a></li>
        <li><a href="/flexiblecontent/fittext">Flexible text - FitText</a></li>
      </ol>
    </li>
    <li>Flexible Images
      <ol>
        <li><a href="/flexiblecontent/imagecontrolwithcss">Image control with CSS</a></li>
        <li><a href="/flexiblecontent/highresolutionimages">High Resolution Background Images</a></li>
        <li><a href="/flexiblecontent/picturefill">Image control with PictureFill</a></li>
      </ol>
    </li>
    <li>Flexible tables
      <ol>
        <li><a href="/flexiblecontent/table">Table</a></li>
        <li><a href="/flexiblecontent/scrollingtable">Scrolling Table</a></li>
        <li><a href="/flexiblecontent/tabledetablified">Table Detablified</a></li>
        <li><a href="/flexiblecontent/tabledetablified2">Table Detablified #2</a></li>
        <li><a href="/flexiblecontent/tabledetablified3">Table Detablified #3</a></li>
        <li><a href="/flexiblecontent/tabledetablified4">Table Detablified #4</a></li>
        <li><a href="/flexiblecontent/tablewithzurbresponsivetables">Table with Zurb Responsive Tables</a></li>
        <li><a href="/flexiblecontent/footable">Footable</a></li>
      </ol>
    </li>
    <li>Flexible Video
      <ol>
        <li><a href="/flexiblecontent/video">Video</a></li>
        <li><a href="/flexiblecontent/responsivevideo">Responsive Video</a></li>
        <li><a href="/flexiblecontent/videoembedding">Basic Video Embedding</a></li>
        <li><a href="/flexiblecontent/responsiveembedding">Responsive Embedding</a></li>
        <li><a href="/flexiblecontent/scriptedembeddedvideoresize">Scripted Embedded Video Resize</a></li>
      </ol>
    </li>
  </ol>

  <h3>Chapter 6: Displays Modes, View Engines and HTML Helpers</h3>

  @Status(HomeController.ChapterStatus.InEditing)

  <p>In this chapter we dive into ASP.NET MVC, discussing its ways of rendering markup and
    how we can leverage those to provide the flexibility we need for mobile.
  </p>

  <h3>Chapter 7: Device and Feature Detection</h3>

  @Status(HomeController.ChapterStatus.InEditing)

  <p>Sometimes it is crucial to know something about the device visiting the page or its capabilities.
    Here we discuss strategies for doing this.
  </p>

  <h3>Chapter 8: Mobile performance</h3>

  @Status(HomeController.ChapterStatus.InEditing)

  <p>Performance is particularly important for mobile so we have a discussion of various important
    techniques for making your mobile websites perform better.
  </p>

  <h3>Chapter 9: Native APIs, HTML5 and CSS3 on Mobile Today</h3>

  @Status(HomeController.ChapterStatus.InEditing)

  <p>A chapter exploring what works well on mobile devices today. Despite being a bit buggy, mobile
    browsers are surpisingly capable.
  </p>

  <h4>Samples</h4>
  <ol>
    <li>
      Native APIs
      <ol>
        <li><a href="/leveragingnativeapis/geolocation">Geolocation</a></li>
        <li><a href="/leveragingnativeapis/photoaccess">Photo and Camera Access</a></li>
        <li><a href="/leveragingnativeapis/networkinfo">Network Info</a></li>
        <li><a href="/leveragingnativeapis/phoneandemail">Phone Calls and Email</a></li>
        <li><a href="/leveragingnativeapis/maps">Accessing Maps</a></li>
      </ol>
    </li>
    <li>
      New Capabilities
      <ol>
        <li><a href="/leveragingnewcapabilities/websockets">Websockets</a></li>
        <li><a href="/leveragingnewcapabilities/webstorage">Web Storage</a></li>
        <li><a href="/leveragingnewcapabilities/applicationcache">Application Cache</a></li>
        <li><a href="/leveragingnewcapabilities/webworkers">Web Workers</a></li>
        <li><a href="/leveragingnewcapabilities/historyapi">History API</a></li>
        <li><a href="/leveragingnewcapabilities/audioandvideo">Audio and Video</a></li>
        <li><a href="/leveragingnewcapabilities/bettersemantics">Better Semantics</a></li>
      </ol>
    </li>
    <li>New Visual Tools
      <ol>
        <li><a href="/leveragingnewvisualtools/webfonts">Web Fonts</a></li>
        <li><a href="/leveragingnewvisualtools/transitions">Transitions</a></li>
        <li><a href="/leveragingnewvisualtools/animations">Animations</a></li>
        <li><a href="/leveragingnewvisualtools/transformations">Transformations</a></li>
        <li><a href="/leveragingnewvisualtools/gradients">Gradients</a></li>
        <li><a href="/leveragingnewvisualtools/shadows">Shadows</a></li>
        <li><a href="/leveragingnewvisualtools/borderradius">Border Radius</a></li>
        <li><a href="/leveragingnewvisualtools/opacity">Opacity</a></li>
        <li><a href="/leveragingnewvisualtools/rgba">RGBA</a></li>
        <li><a href="/leveragingnewvisualtools/multiplebackgrounds">Multiple Backgrounds</a></li>
        <li><a href="/leveragingnewvisualtools/canvas">Canvas</a></li>
        <li><a href="/leveragingnewvisualtools/svg">SVG</a></li>
      </ol>
    </li>
  </ol>

  <h3>Chapter 10: Programming for Touch</h3>

  @Status(HomeController.ChapterStatus.InEditing)

  <p>One of the great things about mobile browsers is that all the modern ones have nice
    touch APIs. In this chapter I discuss the basic APIs, give a few samples and show
    how to program for the various touch programming models.
  </p>

  <h3>Chapter 11: Advanced Touch Programming</h3>

  @Status(HomeController.ChapterStatus.InProgress)

  <p>This chapter will include more samples of touch programming
    and go through more concepts around making a better touch experience.
  </p>

  <!--
  <ol>
    <li><a href="/advancedtouchprogramming/implementingabasicswipegesture">Implementing a swipe gesture</a></li>
    <li>Swiping a list of photos</li>
  </ol>
    -->

  <h3>Chapter 12: Third party libraries</h3>

  @Status(HomeController.ChapterStatus.InProgress)

  <p>This book is primarily about the core skills and techniques to do mobile development. But
    sometimes it's good to use a library instead of coding something yourself, so we discuss
    a number of different libraries to use when making mobile websites, what they are good
    for and in some cases the drawbacks to using them.
  </p>

  <ol>
    <li>
      Responsive Web Design
      <ol>
        <li><a href="/thirdpartylibraries/bootstrap">Bootstrap</a></li>
        <li><a href="/thirdpartylibraries/zurbfoundation">Zurb Foundation</a></li>
      </ol>
    </li>
    <li>
      Mobile Application Frameworks
      <ol>
        <li><a href="/thirdpartylibraries/jquerymobile">jQuery Mobile</a></li>
        <li><a href="/thirdpartylibraries/kendouimobile">Kendo UI Mobile</a></li>
        <li><a href="/thirdpartylibraries/senchatouch">Sencha Touch</a></li>
      </ol>
    </li>
  </ol>




</div>